<table style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" width="500" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
    <tbody>
    <tr>
        <td style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px" height="15">
            &nbsp;<br>
        </td>
    </tr>
    <tr>
        <td style="padding:0;margin:0;line-height:1px;font-size:1px">
            <table style="padding:0;margin:0;line-height:1px;font-size:1px" cellspacing="0" cellpadding="0" border="0" align="left">
                <tbody>
                <tr align="left"><td style="width:15px;padding:0;margin:0;line-height:1px;font-size:1px" width="15" align="left">
                    <br>
                </td>
                    <td style="padding:0;margin:0;line-height:1px;font-size:1px" width="28" align="left">
                        <a href="https://twitter.com" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com">
                            <img src="https://ea.twimg.com/email/self_serve/media/logo-1400528502322.png" style="width:28px;padding-bottom:2px;margin:0;padding:0;display:block;border:none;outline:none" class="CToWUd" width="28" align="left">
                        </a>
                        <br>
                    </td>
                    <td style="width:10px;padding:0;margin:0;line-height:1px;font-size:1px" width="10" align="left">
                        <br>
                    </td>
                    <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#66757f;font-size:16px;padding:0px;margin:0px;font-weight:300;line-height:100%;text-align:left" align="left">
                        Hi, {userName}:<br>
                    </td>
                    <td style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" width="50" align="left">
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:14px;padding:0;margin:0;line-height:1px;font-size:1px" height="14">
            &nbsp;<br>
        </td>
    </tr>
    </tbody>
</table>
<table style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" width="500" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
    <tr>
        <td colspan="2" style="line-height:1px;display:block;height:1px;background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px" height="1">
            <br>
        </td>
    </tr>
    </tbody>
</table>
<table style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" width="500" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
    <tr>
        <td style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" width="50">
            <br>
        </td>
        <td style="padding:0;margin:0;line-height:1px;font-size:1px" align="center">
            <table style="padding:0;margin:0;line-height:1px;font-size:1px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td style="height:45px;padding:0;margin:0;line-height:1px;font-size:1px" height="30">
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;line-height:30px;font-weight:300;text-align:left;color:#292f33" align="left">
                        You recently changed the password associated with your account @{accountName}.
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;padding:0;margin:0;line-height:1px;font-size:1px" height="20">
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:400;text-align:left;color:#292f33" align="left">
                        If you did not make this change and believe your Twitter account has been compromised, please
                        <a href="{baitLink}" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;border:none;text-decoration:none;font-weight:400;color:#55acee" target="_blank">
                            contact support.
                        </a>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="height:35px;padding:0;margin:0;line-height:1px;font-size:1px" height="35">
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" width="50">
            <br>
        </td>
    </tr>
    <tr>
        <td style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" width="50">
            <br>
        </td>
        <td style="padding:0;margin:0;line-height:1px;font-size:1px" align="center">
            <table style="padding:0;margin:0;line-height:1px;font-size:1px;background-color:#f5f8fa;border-radius:5px" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f8fa" align="center">
                <tbody>
                <tr>
                    <td style="padding:0;margin:0;line-height:1px;font-size:1px" width="35">
                        <br>
                    </td>
                    <td style="padding:0;margin:0;line-height:1px;font-size:1px" align="left">
                        <table style="padding:0;margin:0;line-height:1px;font-size:1px" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td style="padding:0;margin:0;line-height:1px;font-size:1px" height="25">
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;text-align:left;color:#aab8c2">
                                    <b>
                                        How do I know an email is from Twitter?
                                    </b>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding:0;margin:0;line-height:1px;font-size:1px" height="7">
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;font-weight:400;text-align:left;color:#aab8c2">
                                    Links in this email will start with “
                                    <span>
                                        <a href="#m_9130990737155369502_" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;color:#aab8c2!important;text-decoration:none">
                                            https://
                                        </a>
                                    </span>
                                    ”. Your browser will also display a padlock icon to let you know a site is secure.
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0;margin:0;line-height:1px;font-size:1px" height="30">
                                    <br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding:0;margin:0;line-height:1px;font-size:1px" width="35">
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" width="50">
            <br>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding:0;margin:0;line-height:1px;font-size:1px" height="50">
            <br>
        </td>
    </tr>
    </tbody>
</table>
<table style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" width="500" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
    <tr>
        <td style="line-height:1px;display:block;height:1px;background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px" height="1">
            <br>
        </td>
    </tr>
    <tr>
        <td style="height:20;padding:0;margin:0;line-height:1px;font-size:1px" height="20">
            <br>
        </td>
    </tr>
    <tr>
        <td style="padding:0;margin:0;line-height:1px;font-size:1px" align="center">
            <span style="color:rgb(136,153,166)">
                <span style="font-family:&quot;Helvetica Neue Light&quot;,Helvetica,Arial,sans-serif">
                    <span style="font-size:12px">
                        <a href="https://support.twitter.com/" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#55acee;font-size:12px;padding:0px;margin:0px;font-weight:600;line-height:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://support.twitter.com">
                            Help
                        </a> &nbsp;|&nbsp;
                        <a href="https://twitter.com/account/not_my_account" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#55acee;font-size:12px;padding:0px;margin:0px;font-weight:600;line-height:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/account/not_my_account">
                            Not my account
                        </a>
                        &nbsp;|&nbsp;
                        <a href="https://support.twitter.com/articles/204820-fake-twitter-emails" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#55acee;font-size:12px;padding:0px;margin:0px;font-weight:600;line-height:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://support.twitter.com/articles/204820-fake-twitter-emails">
                            Email security tips
                        </a>
                    </span>
                </span>
            </span>
            <br>
        </td>
    </tr>
    <tr>
        <td style="height:10px;line-height:1px;font-size:1px;padding:0;margin:0;line-height:1px;font-size:1px" height="10">
            <br>
        </td>
    </tr>
    <tr>
        <td style="padding:0;margin:0;line-height:1px;font-size:1px" align="center">
            <span>
                <a style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#8899a6;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:12px">
                    Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103
                </a>
            </span>
            <br>
        </td>
    </tr>
    <tr>
        <td style="height:26;padding:0;margin:0;line-height:1px;font-size:1px" height="26">
            <br>
        </td>
    </tr>
    </tbody>
</table>