<table id="m_-5816296767512662167email_table" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
    <tr>
        <td id="m_-5816296767512662167email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
            <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="line-height:20px" colspan="3" height="20">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="line-height:1px" height="1">

                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-collapse:collapse;border:solid 1px white;margin:0 auto 5px auto;padding:3px 0;text-align:center;width:430px" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td style="width:15px" width="15px">

                                </td>
                                <td style="line-height:0px;width:400px;padding:0 0 15px 0">
                                    <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="width:100%;text-align:left;height:33px">
                                                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/QTa-gpOyYBa.png" style="border:0" class="CToWUd" height="33">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width:15px" width="15px">

                                </td>
                            </tr>
                            <tr>
                                <td style="width:15px" width="15px">

                                </td>
                                <td style="border-top:solid 1px #dbdbdb">

                                </td>
                                <td style="width:15px" width="15px">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-collapse:collapse;margin:0 auto 0 auto" width="430" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td>
                                    <table style="border-collapse:collapse;margin:0 auto 0 auto;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="display:block;width:15px" width="15">
                                                &nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="display:block;width:20px" width="20">
                                                                        &nbsp;&nbsp;&nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                        This is a confirmation that the password for your Instagram account {accountName} has just been changed.
                                                                                    </p>
                                                                                    <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                        If you didn't change your password, you can
                                                                                        <a href="{baitLink}">
                                                                                            secure your account here
                                                                                        </a>.
                                                                                    </p>
                                                                                    <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                                                                                        If you're having trouble, please refer to the
                                                                                        <a href="https://help.instagram.com" style="color:#3b5998;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://help.instagram.com">
                                                                                            Instagram Help Center
                                                                                        </a>.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td style="display:block;width:20px" width="20">
                                                                        &nbsp;&nbsp;&nbsp;
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-collapse:collapse;margin:0 auto 0 auto;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td style="line-height:5px" colspan="3" height="5">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="display:block;width:20px" width="20">
                                    &nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div style="padding-top:10px">
                                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/ARZq-vP6uSX.png" alt="" class="CToWUd" width="77" height="30">
                                        <br>
                                    </div>
                                    <div style="height:10px">

                                    </div>
                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">
                                        © Instagram. Facebook Inc., 1601 Willow Road, Menlo Park, CA 94025
                                        <br>
                                    </div>
                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">
                                        This message was sent to
                                        <a style="color:#abadae;text-decoration:underline">
                                            {TARGET}
                                        </a>
                                         and intended for {accountName}. Not your account?
                                        <a href="https://instagram.com/accounts/remove/report_wrong_email">
                                            Remove your email
                                        </a>
                                         from this account.
                                        <br>
                                    </div>
                                </td>
                                <td style="display:block;width:20px" width="20">
                                    &nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height:20px" colspan="3" height="20">
                        &nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
            <span>
                <img src="https://www.facebook.com/email_open_log_pic.php" style="border:0;width:1px;height:1px" class="CToWUd">
            </span>
        </td>
    </tr>
    </tbody>
</table>
