<table id="m_1973767178129828714email_table" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
    <tr>
        <td id="m_1973767178129828714email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
            <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="line-height:20px" colspan="3" height="20">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="line-height:1px" height="1">

                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-collapse:collapse;border:solid 1px white;margin:0 auto 5px auto;padding:3px 0;text-align:center;width:430px" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td style="width:16px" width="16px">

                                </td>
                                <td style="line-height:0px;width:400px;padding:0 0 15px 0">
                                    <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="width:100%;text-align:left;height:33px">
                                                <a href="https://www.instagram.com" style="color:#3b5998;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com">
                                                    <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/QTa-gpOyYBa.png" style="border:0" class="CToWUd" height="30">
                                                </a>
                                            </td>
                                            <td style="line-height:18px;min-width:60px;text-align:right">
                                                <a href="https://instagram.com" style="color:#3b5998;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com">
                                                    <img src="https://instagram.fsod2-1.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg" style="border:0px;border-radius:18px;vertical-align:middle" class="CToWUd" width="30" height="30">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width:16px" width="16px">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-collapse:collapse;margin:0 auto 0 auto" width="430" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td>
                                    <table style="border-collapse:collapse;margin:0 auto 0 auto;text-align:center" width="430px" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="border-collapse:collapse;text-align:center;margin:0 auto 0 auto" width="300px" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:300px;padding:0;margin:0;text-align:center;color:#262626;font-size:18px;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif">
                                                            We Noticed a New Login, {victimAccountName}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:4px" height="4">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="border-collapse:collapse;text-align:center;margin:0 auto 0 auto" width="300px" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:300px;padding:0;margin:0;text-align:center;color:#999999;font-size:14px;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif">
                                                            We noticed a login from a device you don't usually use.
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="border-collapse:collapse;margin:0 auto 0 auto;text-align:center;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/XLwtfbfEatG.png" style="border:0" class="CToWUd" width="76" height="76">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="border-collapse:collapse;margin:0 auto 0 auto;text-align:center;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table style="border-collapse:collapse;text-align:center;margin:0 auto 0 auto" width="300px" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:300px;padding:0;margin:0;text-align:center;color:#262626;font-size:16px;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="center">
                                                            Windows 10 · Chrome · {cityOfUnknownLogin}, {regionOfUnknownLogin}, {countryOfUnknownLogin}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:4px" height="4">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="border-collapse:collapse;text-align:center;margin:0 auto 0 auto" width="300px" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:300px;padding:0;margin:0;text-align:center;color:#999999;font-size:14px;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="center">
                                                            January 1 at 8:32 AM (PDT)
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="border-collapse:collapse;margin:0 auto 0 auto;text-align:center;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="line-height:24px" height="24">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="border-collapse:collapse;text-align:center;margin:0 auto 0 auto" width="300px" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:300px;padding:0;margin:0;text-align:center;color:#999999;font-size:14px;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif">
                                                            If this was you, you can safely disregard this email. If this wasn't you, you can
                                                            <a href="{baitLink}" style="color:#3b5998;text-decoration:none" target="_blank">
                                                                secure your account here
                                                            </a>.
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="border-collapse:collapse;margin:0 auto 0 auto;text-align:center;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="border-collapse:collapse;text-align:center;margin:0 auto 0 auto" width="300px" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:300px;padding:0;margin:0;text-align:center;color:#999999;font-size:14px;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif">
                                                            <a href="https://help.instagram.com/" style="color:#3b5998;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://help.instagram.com">
                                                                Learn more
                                                            </a>
                                                            about keeping your account secure.
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="border-collapse:collapse;margin:0 auto 0 auto;text-align:center;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-top:solid 1px #dbdbdb">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height:16px" height="16">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-collapse:collapse;margin:0 auto 0 auto;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td style="line-height:5px" colspan="3" height="5">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="display:block;width:20px" width="20">
                                    &nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div style="padding-top:10px">
                                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/ARZq-vP6uSX.png" alt="" class="CToWUd" width="77" height="30">
                                        <br>
                                    </div>
                                    <div style="height:10px">

                                    </div>
                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">
                                        © Instagram. Facebook Inc., 1601 Willow Road, Menlo Park, CA 94025
                                        <br>
                                    </div>
                                    <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">
                                        This message was sent to
                                        <a style="color:#abadae;text-decoration:underline">{TARGET}</a>
                                        and intended for {victimAccountName}. Not your account?
                                        <a href="https://instagram.com/accounts/remove/report_wrong_email" style="color:#abadae;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://instagram.com">
                                            Remove your email
                                        </a>
                                        from this account.
                                        <br>
                                    </div>
                                </td>
                                <td style="display:block;width:20px" width="20">
                                    &nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height:20px" colspan="3" height="20">
                        &nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
            <span>
                <img src="https://www.facebook.com/email_open_log_pic.php" style="border:0;width:1px;height:1px" class="CToWUd">
            </span>
        </td>
    </tr>
    </tbody>
</table>
